body, html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.timeline-container {
    width: 90%;
    max-width: 1200px;
    margin: 20px;
}

h2 {
    text-align: center;
    color: #333;
}

.timeline {
    position: relative;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

/* Kropka (punkt na osi czasu) */
.dot-container {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    position: relative;
}

/* Kropka w osi czasu */
.dot {
    width: 25px;
    height: 25px;
    background-color: #1E90FF;
    border-radius: 50%;
    margin-right: 15px;
    position: relative;
    cursor: pointer;
}

/* Tytuł wydarzenia */
.title {
    font-size: 16px;
    font-weight: bold;
    color: #0288d1;
    cursor: pointer;
}

/* Okno z informacjami o wydarzeniu */
.event-info {
    display: none;
    position: absolute;
    left: 120%; /* Przesunięcie okna na prawo od kropki */
    top: 0;
    background-color: white;
    border: 1px solid #0288d1;
    padding: 15px;
    width: 300px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 10;
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* Tytuł okna z informacjami */
.event-info .title {
    font-size: 18px;
    font-weight: bold;
    color: #0288d1;
    margin-bottom: 10px;
}

/* Czas trwania wydarzenia */
.event-info .time-frame {
    font-size: 14px;
    color: #555;
}

/* Opis wydarzenia */
.event-info .description {
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}

/* Obrazek wydarzenia */
.event-info img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    display: block;
    border-radius: 5px;
    margin-top: 10px;
}

/* Kategoria wydarzenia */
.event-info .category {
    font-size: 12px;
    color: #888;
    margin-top: 10px;
}

/* Wyświetlanie okna po najechaniu na tytuł */
.dot-container:hover .event-info,
.title:hover + .event-info {
    display: block;
    opacity: 1;
}

/* Stylizacja linii osi - tylko przy kropkach
.timeline .line {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 2px;
    background-color: #0288d1;
    transform: translateX(-50%);
    z-index: 1;
} */

/* Linii osi dla poszczególnych wydarzeń */
.timeline .line .segment {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 5px;
    background-color: #DC143C;
    /* transform: translateX(-50%); */
    transform: translateX(-50%) translateX(-102px);
}
